#cluster-resources-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  #relative-wrap {
    position: relative;
    width: 100%;
    height: 100%;

    #header {
      position: absolute;
      top: 15px;
      left: 15px;

      .back-button {
        display: inline-block;
      }

      .header-title {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 10px;
      }
    }
  }
}

.tree-wrapper {
  // TODO: change this so it's not hard coded.
  width: 100%;
  height: 100%;
  // border: 1px solid black;
}

.tree-node {
  width: 170px;
  height: 50px;
  text-align: center;
  padding: 0;

  .tree-node-text {
    padding: 0;
    margin: 2px 0;
    font-size: 12px;
    color: #fff;
  }
}

.card-inner {
  position: relative;
  height: 100%;
  
  .card-inner-flex {
    height: 100%;
  }
}